* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: ;
}

#map {
    width: 100vw;
    height: 60vh;
    margin: 4% 0;
}

#marker {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    background-color: transparent;
    max-width: 300px;
}

#case {
    color: blue;
}

#death {
    color: red;
}

#recovered {
    color: green;
}

#head {
    width: 50%;
    margin: 4% auto;
}

#foot {
    margin: 4% 0;
}

.chart {
    height: 50%;
}