* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map {
    width: 100vw;
    height: 100vh;
}

#marker {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    background-color: transparent;
    max-width: 300px;
}

#case {
    color: blue;
}

#death {
    color: red;
}

#recovered {
    color: green;
}